<div class="modal fade" id="addPermit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4>修改权限</h4>
                <input id="submitid" style="display:none">
            </div>
            <div class="modal-body">
                @foreach (var item in ViewData["Permit"] as List<jiangli.Models.Permit>)
                {
                    <input type="checkbox" name="check" value="@item.ID" />@item.PermitName
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove">关闭</span></button>
                <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal" onclick="submitData()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true">保存</span></button>
            </div>
        </div>
    </div>
</div>
