<div class="modal fade" id="addUserRole" tabindex="-2" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><spqn aria-hidden="true">X</spqn></button>
                <h4>添加角色</h4>
            </div>
            <div class="modal-body" id="content">
                    <div class="form-group input-group"><span class="input-group-addon">Role</span><input type="text" class="form-control" placeholder="RoleName" id="roleID"/></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove">关闭</span></button>
                <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal" onclick="addRole()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true">保存</span></button>
            </div>
        </div>
    </div>
</div>
