<div class="modal fade" id="allMessage" tabindex="-2" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>用户信息 </h4>
            </div>
            <div class="card">
                <div class="form-group input-group"><span class="input-group-addon">账户</span><input type="text" id="account" disabled="disabled" class="form-control"/></div>
                <div class="form-group input-group"><span class="input-group-addon">昵称</span><input type="text" id="nickname" disabled="disabled" class="form-control" /></div>
                <div class="form-group input-group"><span class="input-group-addon">权重</span><input type="text" id="weight" disabled="disabled" class="form-control" /></div>
                <div class="form-group input-group"><span class="input-group-addon">参与案件数量</span><input type="text" id="numberofcase" disabled="disabled" class="form-control" /></div>
                <div class="form-group input-group"><span class="input-group-addon">联系方式</span><input type="text" id="phone" disabled="disabled" class="form-control" /></div>
                <div class="form-group input-group"><span class="input-group-addon">最后登录日期</span><input type="text" id="datelast" disabled="disabled" class="form-control" /></div>
            </div>
        </div>
    </div>
</div>
